extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id='loader' class='hidden')

  p(id='info' class='hidden') Please Allow your location to get Weather Details


  div(class='icon-display')
    h1 
      i( id='icon' class='wi')
    span
      label(id='icon-label')
  div(class='temprature')
    h1
      label(id='temperature')
      i(id='celsius' class='wi')