doctype html
html
  head
    title= 'Here\'s Tom With The Weather'
    link(href='styles.css', type='text/css' rel='stylesheet')
  body
      div.content
        h1= 'Here\'s Tom With The Weather'
        p= 'Please allow browser access to your location.'
        script(src='skycons.js', type='text/javascript')
