*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: $colour-blue-ebony;
    color: $colour-white;
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.25rem;
    margin: 16px 0;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
