@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Current Weather</h2>
        <div class="col-md-2">
            <div id="weatherImg"></div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <h3 id="current-temp"></h3>
            <h4 id="weatherSummary"></h4>
        </div>
    </div>
</div>

<div class="modal"></div>

