<div class="weather-forecast-currently" ng-if="vm.forecastData && !vm.forecastData._errors">
    <div ng-bind="vm.forecastData._summary" show-summary="vm.showSummary"></div>
    <div class="left" ng-class="vm.forecastData._icon" show-icon="vm.showIcon"></div>
    <div class="weather-forecast-currently-temperature">
        <div ng-bind="vm.forecastData._temperature"></div>
        <span ng-if="vm.degree === 'c'"> &#x2103;</span>
        <span ng-if="vm.degree === 'f'"> &#x2109;</span>
    </div>
</div>

<div ng-if="!vm.forecastData">
    <p>Loading...</p>
</div>

<div ng-if="vm.forecastData._errors">
    <p>Melbourne weather is unpredictable. Please come back and try again later.</p>
</div>